---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("blog");
---

<BaseLayout title="Blog | LawBridge">
  <main>
    <h1>Blog</h1>

    {posts.map((post) => (
      <article>
        <h2>{post.data.title}</h2>
        <p>{post.data.excerpt}</p>
        <a href={`/blog/${post.slug}`}>Read more</a>
      </article>
    ))}
  </main>
</BaseLayout>
