---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Mentors | LawBridge">
  <main>
    <h1>Mentors</h1>
    <p>Connect with legal professionals, gain insights into the profession and receive guidance from experienced mentors.</p>
  </main>
</BaseLayout>
