<header>
  <a href="/">LawBridge</a>

  <nav>
    <a href="/curriculum">Curriculum</a>
    <a href="/students">Students</a>
    <a href="/mentors">Mentors</a>
    <a href="/workshops">Workshops</a>
    <a href="/webinars">Webinars</a>
    <a href="/resources">Resources</a>
    <a href="/blog">Blog</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
  </nav>
</header>
